# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyTorch model files
*.pt

# Media files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.mp4
*.mov
*.avi
*.mkv
*.mp3
*.wav
*.flac
*.ogg

# C extensions
*.so

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# Build and packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Installer logs
pip-log.txt

# Unit test and coverage
.coverage
.tox/
nox/
.cache/
pytest_cache/
coverage.xml
*.cover
*.py,cover
nosetests.xml
htmlcov/

# PyInstaller
*.spec

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

